.centered-items {
  text-align: center;
}

.enter-form {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  width: 90%;
  font-size: 30px;
  border:0px;
  outline: none;
  appearance:none;
  -webkit-appearance: none;
}

.active-to-do:hover {
  background-color: yellow;
  cursor: pointer;
}

.big-text {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 40px;
}

div {
  margin-bottom: 10px;
}
