 body {
  text-align: center;
 }

 textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    height: 30em;
    width: 90%;

    font-family: "Century Gothic", Helvetica, sans-serif;
    color:darkslategray;

    font-size: 1.75em;
}
